<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
    <br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <i class="fa fa-user w3-xxxlarge"></i>
        </div>
        <div class="w3-col s8 w3-bar">
            <span>{{greeting}} <strong>{{name}}</strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>{{menuHeading}}</h5>
    </div>
    <div class="w3-bar-block">
        <!-- TODO: Uncomment this once you figure out how to enable this in mobile -->
        <!--
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        -->
        <a routerLink="/dashboard" routerLinkActive="w3-blue" class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-tachometer fa-fw"></i>&nbsp;&nbsp;Dashboard
        </a>
        <a routerLink="/heroes" routerLinkActive="w3-blue" class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-gratipay fa-fw"></i>&nbsp;&nbsp;Heroes
        </a>
    </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <router-outlet></router-outlet>
</div>
